@tailwind base;
@tailwind components;
@tailwind utilities;

.overflowBody {
  overflow: auto !important;
}

.settings-page {
  min-height: calc(100dvh + 76px);
}

.active {
  background-color: black;
  padding: 0.7rem 0.9rem;
  color: white;
  border-radius: 32px;
}

.active-mobile {
  background-color: black;
  color: white;
}

.link-settings-aside {
  position: relative;
}

.link-settings-aside::before {
  content: '';
  position: absolute;
  width: calc(100% - 1rem);
  left: 50%;
  transform: translateX(-50%);
  min-height: 2.5px;
  max-height: 2.5px;
  bottom: -1.5px;
  border-radius: 16px;
  background-color: transparent;
  padding: 0 0.5rem;
}

.link-settings-aside-active::before {
  background-color: #000000;
}

.shadow-top {
  @apply shadow-none;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1),
    0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}

.custom-radio {
  width: 24px;
  height: 24px;
  border: 2px solid #767676;
  border-radius: 50%;
  appearance: none;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}

.custom-radio:hover {
  border-color: #a5a5a5;
}

.custom-radio:checked {
  background-color: #000000;
  border-color: #000000;
}

.custom-radio:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  /* border: 4px solid black; */
  background-color: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 17px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #ffffff 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 4.8px 4.8px;
  animation: loader 1.2s linear infinite;
  background-color: transparent;
}

.loader-circle {
  background-color: #767676;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.1rem #767676);
}

.arrow-icon-rotate {
  transition: transform 0.3s ease-in-out;
}

@keyframes loader {
  to {
    transform: rotate(0deg);
    transform: rotate(360deg);
  }
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo cuando el checkbox está marcado */
.custom-checkbox:checked {
  background-color: #000;
  border-color: #000;
}

/* Estilo para el icono de checkmark cuando está marcado */
.custom-checkbox:checked::before {
  content: '✔';
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border-color: #000;
}

/* Estilo al hacer hover */
.custom-checkbox:hover {
  border-color: #555;
}

.fixed-modal {
  position: fixed !important;
}

.masonry {
  columns: 24 236px;
  column-gap: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.masonry-small {
  columns: 24 180px;
  column-gap: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0.85rem;
  break-inside: avoid;
}

.card:hover {
  cursor: zoom-in;
}

.card:hover .censored-text {
  background-color: #111111;
}

.card:hover .censored-preview {
  background-color: #111111;
}

.card:hover .card-body {
  filter: brightness(0.7);
}

.card.pin-active .card-body {
  filter: brightness(0.7);
}

.card:hover .card-controls {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.card.pin-active .card-controls {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.card-controls-modal-open .card-controls {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.card-top {
  width: 100%;
  margin: 0;
  border-radius: 16px;
  transition: filter ease 150ms;
  position: relative;
  z-index: 0;
  min-height: 180px;
}

.card-body {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  min-height: 180px;
  height: 100%;
  display: block;
  transition: filter 150ms ease;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  cursor: default;
  padding: 8px 6px 16px 6px;
}

.card-bottom strong {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-bottom span {
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-avatar {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.75rem;
}

.user-data {
  display: flex;
  align-items: center;

  cursor: pointer;
  text-decoration: none;
}
.user-data span {
  font-size: 0.8rem;
}

.user-data:hover span {
  text-decoration: underline;
}

/* Card controls */

.card-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-direction: row-reverse;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0.5rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}

.card-controls-modal-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-direction: row-reverse;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0.5rem;
  pointer-events: none;
  cursor: default;
  visibility: visible;
  opacity: 1;
}

.card-controls-modal-open .card-body {
  filter: brightness(0.7);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.rounded-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row-reverse;
}

/* Buttons */

.save-to-board-button-sm {
  display: hidden flex;
}

.save-to-board-button svg {
  width: 15px;
  stroke-width: 3;
  flex-shrink: 0;
}

.save-to-board-button-sm:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-controls-modal-open .save-to-board-button {
  background-color: black;
  scale: 1.06;
}

.save-to-board-button-sm:focus {
  background-color: black;
  scale: 1.06;
}

.card-controls-modal-open .save-to-board-button-sm {
  background-color: black;
  scale: 1.06;
}

.save-to-board-button:focus svg path {
  stroke: #ffffff;
}

.down-arrow-svg {
  width: 10px;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Boards */

.board-preview-top:hover .board-preview-edit-btn {
  opacity: 1;
  visibility: visible;
}

.board-preview-top:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.264);
  border-radius: 1rem;
  position: absolute;
  z-index: 1;
}

.toast-notification {
  animation: go-up 300ms ease-in, go-down 100ms ease-out 2.2s forwards;
}

.toast-notification-mobile {
  animation: show-element 300ms ease-in,
    hide-element 150ms ease-out 2.2s forwards;
}

@keyframes go-up {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
    display: block;
  }
}

@keyframes go-down {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    transform: translateX(-50%) translateY(100%);
    display: none;
  }
}

@keyframes hide-element {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes show-element {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-input-label:hover input {
  border-color: #cdcdcd;
}

.boards-list-shadow {
  box-shadow: 0 -4px 0.5rem #00000019;
}

.cover-selected {
  position: relative;
}

.cover-selected:hover {
  transform: scale(1) !important;
  filter: brightness(1) !important;
}

.cover-selected::after {
  position: absolute;
  content: '✔';
  border-radius: 30%;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  padding: 0.9rem;
  outline: 2px solid #e60023;
  z-index: 80px;
}

.category-card {
  width: clamp(11.125rem, 5.077rem + 10.751vw, 18.852rem);
  font-size: clamp(0.75rem, 0.652rem + 0.174vw, 0.875rem);
  line-height: clamp(1.125rem, 1.027rem + 0.174vw, 1.25rem);
}

.category-big-card {
  width: clamp(18.75rem, 8.333rem + 18.519vw, 25rem);
  height: clamp(12.5rem, 2.083rem + 18.519vw, 18.75rem);
}

.custom-atropos:hover .category-big-card {
  transform: scale(1.03) !important;
  filter: brightness(0.8) !important;
}

.text-border {
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.like-btn-active-animated {
  animation: grow 0.5s ease-in-out forwards;
}

.like-btn-animated {
  animation: grow 0.5s ease-in-out forwards;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes shimmer-vertical {
  0% {
    background-position: 0 -200%;
  }
  100% {
    background-position: 0 200%;
  }
}

/* Swiper */

.swiper-navigation-btn-disabled {
  display: none;
}

.adult-content {
  position: relative;
  display: inline-block;
}

.adult-content::after {
  content: 'Contenido sensible';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  justify-self: center;
}

/* Media queries */

@media (max-width: 1270px) {
  .category-groups {
    display: none;
  }
}

@media (max-width: 1435px) {
  .category-card p:first-child {
    visibility: visible;
  }

  .category-card p:nth-child(2) {
    display: none;
  }

  .category-card > div:first-child {
    width: 100%;
    min-height: 105px;
  }

  .category-card > div:nth-child(2) {
    display: none;
  }
}

@media (min-height: 1200px) {
  .settings-page {
    min-height: 100dvh;
  }
}

/* xl */
@media (min-width: 1025px) {
  .masonry-small {
    columns: 24 152px;
  }

  .settings-page {
    min-height: calc(100dvh + 60px);
  }

  .masonry {
    columns: 24 236px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .masonry-small {
    columns: 24 152px;
  }

  .masonry {
    columns: 24 200px;
  }

  .save-to-board-button {
    width: 45%;
  }

  .save-button {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* md */
@media (max-width: 768px) {
  .masonry-small {
    columns: 24 150px;
  }

  .settings-page {
    min-height: calc(100dvh + 60px);
  }

  .masonry {
    columns: 24 180px;
  }

  .create-pin-aside-mobile {
    display: block;
  }

  .create-pin-aside {
    display: none;
  }

  .aside-is-open {
    display: none;
  }

  .previous-pins-aside {
    width: 100%;
  }

  .previous-pins-card {
    min-height: 90px;
  }

  .create-pin-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .settings-page {
    width: 100%;
    justify-self: center;
    flex-direction: column;
    align-items: center;
  }

  .save-button {
    min-width: 75px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
  }

  .save-to-board-button {
    min-width: 75px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .masonry-small {
    columns: 24 130px;
  }

  .settings-page {
    min-height: calc(100dvh + 60px);
  }

  .masonry {
    columns: 24 180px;
  }

  .board-modal {
    max-width: 400px;
  }
}

@media (max-width: 556px) {
  .ellipsis svg {
    width: 20px;
  }

  .tray svg {
    width: 15px;
  }
}

@media (max-width: 475px) {
  .go-to {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    padding: 0.35rem;
  }

  .go-to svg {
    width: 100%;
    height: 100%;
  }

  .go-to span {
    display: none;
  }
}

@media (max-width: 464px) {
  .boards-grid {
    justify-content: center;
    padding: 0.25rem;
  }
}

/* xs */
@media (max-width: 426px) {
  .masonry {
    columns: 24 130px;
    column-gap: 0.5rem;
  }

  .save-to-board-button-sm {
    padding: 0.65rem;
  }

  .save-to-board-button-sm svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}

@media (max-width: 370px) {
  .share-account-modal {
    min-width: 300px;
    left: -49px;
  }
}

@keyframes grow {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 20px;
    height: 20px;
  }
}

@keyframes shrink {
  from {
    width: 20px;
    height: 20px;
  }
  to {
    width: 0;
    height: 0;
  }
}

@keyframes aside-filters-open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    transition: none !important;
    animation: none !important;
  }
}
